# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editor / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.local

# Variáveis de ambiente
.env
.env.*
!.env.example
